$primary-blue: #0072f5;
$primary-blue-darker: #0066DB;
$secondary-blue: #0092fa;
$text-blue: #292929;
$gray-blue-bgc: #F5F7FA;
$white: #ffffff;
$black: #000000;
$input-gray: #4B4C4C;
$border-gray: #959595;
$success: #19c506;
$failed: #e70505;